@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Inter:wght@400;500;600;700&display=swap');
/* font-family: 'Inter', sans-serif; */ /* font-family: 'Iceberg', cursive; */

:root {
    --red: #DE2A29;
    --green: #385F58;
    --light-grey: #F4F0F0;
    --grey: #CCCCCC;
    --dark-grey: #858585;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body *{
    padding: 0;
    margin: 0;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}

body > div > main {
    padding: 0 7.375rem 0 7.375rem;
}

@media only screen and (max-width: 1280px) {
    body > div > main {
        padding: 0;
    }
}