@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Inter:wght@400;500;700&display=swap');
/* font-family: 'Inter', sans-serif; */ /* font-family: 'Iceberg', cursive; */

:root {
    --red: #DE2A29;
    --green: #385F58;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body *{
    padding: 0;
    margin: 0;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}